html,
body {
  color: #333;
  height: 100%;
}

.ember-application > .ember-view {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#loader {
  position: fixed;
  display: block;
  z-index: 101;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -20px;
}

.component-loading {
  opacity: .1;
}

header {
  display: block;
  position: relative;
  background-color: #F44336;
  border-bottom: 3px solid #D32F2F;
}

  .site-name {
    display: block;
    float: left;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    text-shadow: 3px 3px #D32F2F;
  }

  .site-name:active,
  .site-name:hover,
  .site-name:focus,
  .site-name:visited {
    text-decoration: none;
    color: #fff;
  }

    .site-name h1 {
      margin: 20px 0 21px;
    }

      .site-name h1 i {
        margin-right: 20px;
      }

      .site-name h1 span {
        font-weight: 300;
        text-shadow: none;
      }

  header nav {
    float: right;
  }

  header nav,
  header nav ul,
  header nav ul a {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  }

    header nav ul a,
    header nav ul a:hover,
    header nav ul a:focus,
    header nav ul a:visited,
    header nav ul a:active {
      color: #fff;
      text-decoration: none;
    }

    header nav ul a.active,
    header nav ul a:hover {
      background-color: #D32F2F;
    }

    header nav ul a {
      display: inline-block;
    }

      header nav ul a li {
        display: block;
        padding: 0 20px;
        height: 100%;
        line-height: 80px;
      }

        header nav ul a li i {
          margin-right: 10px;
        }

main {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  background-color: #fff;
  color: #333;
}

  main nav {
    display: block;
    position: relative;
    background-color: #D32F2F;
    border-bottom: 3px solid #B71C1C;
    color: #fff;
  }

    main nav .nav-item {
      display: inline-block;
      color: #fff;
      margin: 5px 0;
      padding: 9px 20px;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
    }

    main nav .nav-item.left-item {
      float: left;
    }

    main nav .nav-item.right-item {
      float: right;
    }

    main nav .nav-item:hover,
    main nav .nav-item:active,
    main nav .nav-item:focus,
    main nav .nav-item:visited {
      color: #fff;
      text-decoration: none;
    }

    main nav .nav-item.active,
    main nav .nav-item:hover {
      background-color: #B71C1C;
    }

    main nav .nav-item i {
      margin-left: -5px;
      margin-right: 10px;
    }

    main nav .search-container {
      position: relative;
    }

    main nav .search-clear-icon-label,
    main nav .search-icon-label {
      position: absolute;
      left: 35px;
      top: 14px;
    }

    main nav .search-clear-icon-label {
      left: initial;
      right: 78px;
      cursor: pointer;
    }

    main nav .search-box ~ .search-clear-icon-label,
    main nav .search-box ~ .search-icon-label       { color: #fff; opacity: 0.75; }
    main nav .search-box::-webkit-input-placeholder { color: #fff; opacity: 0.75; }
    main nav .search-box:-moz-placeholder           { color: #fff; opacity: 0.75; }
    main nav .search-box::-moz-placeholder          { color: #fff; opacity: 0.75; }
    main nav .search-box:-ms-input-placeholder      { color: #fff; opacity: 0.75; }

    main nav .search-box:focus ~ .search-clear-icon-label,
    main nav .search-box:focus ~ .search-icon-label       { color: #999; opacity: 1; }
    main nav .search-box:focus::-webkit-input-placeholder { color: #999; opacity: 1; }
    main nav .search-box:focus:-moz-placeholder           { color: #999; opacity: 1; }
    main nav .search-box:focus::-moz-placeholder          { color: #999; opacity: 1; }
    main nav .search-box:focus:-ms-input-placeholder      { color: #999; opacity: 1; }

    main nav .search-box {
      display: inline-block;
      vertical-align: middle;
      border: none;
      outline: none;
      background-color: #B71C1C;
      width: calc(100% - 48px);
      height: 38px;
      margin: 5px 0;
      padding: 0 10px 0 50px;
      color: #fff;
      transition: background-color .1s ease-in-out;
    }

    main nav .search-box:focus {
      color: #333;
      background-color: #fff;
    }

    main nav .sort-button {
      display: inline-block;
      vertical-align: middle;
      margin: 3px;
      padding: 0;
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      cursor: pointer;
    }

    main nav .sort-button.active,
    main nav .sort-button:hover {
      background-color: #B71C1C;
    }

    main nav .sort-popup {
      position: absolute;
      display: none;
      top: 60px;
      right: 18px;
      z-index: 100;
      background-color: #D32F2F;
      color: #fff;
      border: 3px solid #B71C1C;
      padding: 10px 0;
    }

    main nav .sort-popup.active {
      display: block;
    }

      main nav .sort-popup p {
        margin: 0;
        padding: 7px 20px;
        cursor: pointer;
      }

      main nav .sort-popup p.active,
      main nav .sort-popup p:hover {
        background-color: #B71C1C;
        color: #fff;
      }

        main nav .sort-popup p i {
          margin-right: 10px;
        }

    main nav .sort-popup::before {
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      right: 5px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom: 10px solid #B71C1C;
    }

  .item-details-container,
  .store-items-contrainer {
    margin: 40px 0;
  }

  .store-item {
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 40px;
  }

    .store-item .quantity-left {
      position: absolute;
      top: 0;
      right: 15px;
      display: block;
      background-color: #F44336;
      color: #fff;
      font-weight: 400;
      font-size: 11px;
      padding: 5px 10px;
    }

      .store-item .quantity-left i {
        margin-right: 10px;
      }

    .item-details-container .image,
    .store-item .image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 75%;
      background-color: #eee;
      background-image: url('/assets/images/placeholder.png');
      background-position: center;
      background-size: cover;
      transition: box-shadow .1s ease-in-out;
    }

    .store-item:hover .image {
      box-shadow: 0 0 0 3px #F44336;
    }

    .store-item .item-name {
      display: inline-block;
      color: #333;
      margin: 10px 0 0 0;
      padding: 0;
      font-size: 14px;
      width: 200px;
      height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .store-item .item-price {
      display: inline-block;
      float: right;
      color: #333;
      margin: 10px 0;
      padding: 0;
      font-size: 14px;
    }

.item-details-container {

}

  .item-details-container .image .gallery-controls {
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: linear-gradient(transparent, rgba(0,0,0,.75) 70%);
    transition: opacity .1s ease-in-out;
    opacity: 0;
  }

  .item-details-container .image:hover .gallery-controls {
    opacity: 1;
  }

  .item-details-container .image .gallery-controls p {
    margin: 0;
    padding: 30px 20px 10px;
  }

  .item-details-container .image .gallery-controls .button {
    cursor: pointer;
  }

  .item-details-container .item-name-and-price {
    border-bottom: 1px solid #F44336;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .item-details-container .item-name {
    display: block;
    float: left;
    font-weight: 400;
    font-size: 22px;
    margin: 12px 0;
    width: calc(100% - 325px);
  }

  .item-details-container .item-quantity {
    display: block;
    float: right;
    padding: 10px 15px;
  }

  .item-details-container .buy-now-button {
    display: block;
    float: right;
    color: #fff;
    padding: 10px 15px;
    background-image: linear-gradient(100deg, #0070ba, #1546a0);
    cursor: pointer;
  }

  .item-details-container #adding-to-cart,
  .item-details-container #added-to-cart {
    display: none;
  }

    .item-details-container .buy-now-button span {
      margin: 0 10px;
      color: rgba(255, 255, 255, 0.5);
    }

  .item-details-container .item-description {
    margin: 0 0 20px;
    padding: 0;
    text-align: justify;
  }

.orders-container {

}

  .orders-container .order {
    background-color: #eee;
  }

.footer {
  margin-top: auto;
}

footer {
  display: block;
  position: relative;
  background-color: #263238;
  color: #fff;
  border-top: 3px solid #455A64;
  min-height: 200px;
}

  footer hr {
    width: 100%;
    border: none;
    height: 3px;
    background-color: #455A64;
    padding: 0;
    margin: 30px 0;
  }

  footer .footer-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 40px 0 30px;
  }

  footer .footer-body {
    color: rgba(255, 255, 255, .5);
    text-align: justify;
    font-weight: 400;
    font-size: 12px;
  }

  footer .footer-copy {
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 35px;
  }

  footer .footer-nav {
    display: block;
    float: right;
    margin: 0 0 35px;
  }

    footer .footer-nav a {
      color: rgba(255, 255, 255, .5);
      font-weight: 400;
      font-size: 14px;
      padding: 0;
      margin: 0;
      display: block;
      float: right;
      cursor: pointer;
    }

    footer .footer-nav a:hover,
    footer .footer-nav a:active,
    footer .footer-nav a:focus,
    footer .footer-nav a:visited {
      text-decoration: none;
    }

    footer .footer-nav a:hover {
      color: #fff;
    }

      footer .footer-nav a i {
        font-size: 16px;
      }

    footer .footer-nav li {
      display: block;
      padding: 0;
      margin: 0 10px;
    }

    footer .footer-nav a:first-of-type li {
      margin-right: 0;
    }

/*------------------------------------------------------------------------------------------------*\
      PAGINATION
\*------------------------------------------------------------------------------------------------*/

.pagination-container {
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  height: 32px;
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 0;
}

  .pagination-container.small-margins {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .pagination-container li {
    display: inline-block;
    height: inherit;
    line-height: 30px;
    position: relative;
  }

    .pagination-container li a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit !important;
    }

  .pagination-step {
    width: 75px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(46, 57, 63, 0.6);
    margin: 0 37px;
    visibility: hidden;``
  }

    .pagination-step.visible {
      visibility: visible;
    }

  .pagination-dots {
    font-size: 13px;
    color: rgba(46, 57, 63, 0.6);
    margin: 0 6px;
  }

  .pagination-page {
    width: 32px;
    height: inherit;
    border: solid 1px #eaeaee;
    background-color: #fff;
    color: rgba(46, 57, 63, 0.6);
    text-align: center;
    margin: 0 6px;
  }

  .pagination-page-current {
    background-color: #F44336;
    color: #fff;
    border: none;
  }

.login-register-form {
  margin: 40px 0;
}

  .error-message {
    display: block;
    width: 100%;
    margin: 20px 0 0;
    padding: 20px;
    background-color: #F44336;
    color: #fff;
  }

    .error-message i {
      margin-right: 20px;
    }

  .login-register-form .form-title {
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0;
  }

  .login-register-form .form-link {
    margin-top: 20px;
    text-align: center;
    color: #F44336;
    cursor: pointer;
  }

  .login-register-form .form-link:hover {
    text-decoration: underline;
  }

  .login-register-form input[type='text'],
  .login-register-form input[type='email'],
  .login-register-form input[type='password'] {
    border: 3px solid #455A64;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    padding: 20px;
    margin-bottom: 20px;
  }

  .login-register-form input[type='text']:focus,
  .login-register-form input[type='email']:focus,
  .login-register-form input[type='password']:focus {
    border: 3px solid #F44336;
  }

  .login-register-form button {
    width: 100%;
    padding: 12px 15px;
    background-color: #455A64;
    color: #fff;
    border: none;
    outline: none;
  }

  .login-register-form button:hover {
    background-color: #F44336;
  }
